<htm>
    <head>
        <title>Add New Task</title>
    </head>
    <body>
        <header>
        <h1><center><img src="http://localhost/ereview/img/ereviewer.jpeg"></center></h1>
        <img src="https://tse3.mm.bing.net/th?id=OIP.N11ywAW64oRvAs9hvy-V1AHaHa&pid=Api&P=0&w=300&h=300" width="200" height="100"><br>
        </header>
        <h1>Add New Task<h1>
        <h4>For Editor</h4>
        <form>
        <legend>Silahkan isi data-data berikut  : </legend>
        <p>
            <label>Judul artikel : </label>
            <input type="text" name="judul">
        </p>
        </p>
        <p>
            <label>Bidang artikel : </label>
            <select>
                <option value="kesehatan">Kesehatan</option>
                <option value="teknologi">Teknologi</option>
                <option value="pendidikan">Pendidikan</option>
                <option value="sosialhumaniora">Sosial Humaniora</option>
                <option value="sosialhumaniora">Lain-lain</option>
            </select>
       
        <p>Silahkan upload file artikel Anda</p>
        <input type="file" name="file">
        <p>
            <input type="submit" name="submit" value="Ajukan">
        </p>
        </p>
        </form>
        <hr/>
    </body>
</html>